@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=RocknRoll+One&display=swap');

body {
    font-family: 'Roboto Condensed', 'RocknRoll One', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding-top: 100px;
}

* {
    margin: 0;
    padding: 0;
}

/*-----------------------------------Colours-----------------------------------*/

.acid-purple {
    background-color: #8A4F7D;
}

.groomy-purple {
    background-color: #4E2D47;
}

.jazzy-yellow {
    background-color: #FDDF00;
}

.light-purple {
    background-color: #CBA4C3;
}

/*-----------------------------------Font-----------------------------------*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'RocknRoll One', sans-serif;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
}

/*-----------------------------------Navigation-----------------------------------*/

.bg-purple {
    background-color: #8A4F7D;
}

.navbar-toggler {
    margin-right: 15px;
}

.navbar-nav {
    float: right;
    margin-right: 15px;
    text-align: center;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color: #FDDF00;
}

.navbar-dark .navbar-nav .nav-link {
    color: #FDDF00;
}

.alert-container {
    position: absolute;
    top: 100px;
    left: 0;
}

/*-----------------------------------Main Section 1 Home Carousel-----------------------------------*/

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 50px;
    height: 50px;
}

/*-----------------------------------Main Section 2 About Us-----------------------------------*/

#homepageTitle {
    padding: 10px;
}

#homepageTitle, .homepageAboutUs {
    text-align: center;
    margin: 0;
}

.homepageAboutUs {
    padding-bottom: 0px;

}

.awards {
    padding: 14px;
}

.AwardList {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 0;
    list-style-position: inside;
    list-style-type: none;
    padding-left: 0;
}

#TheMembers {
    text-align: center;
    margin-bottom: 0;
    padding-top: 48px;
}

.band-image {
    text-align: center;
    padding-top: 24px;
}

.blockquote-footer {
    border-radius: 15px 50px 30px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    margin: 0;
}

/*-----------------------------------Albums-----------------------------------*/

.img-padding {
    padding: 48px 24px 0;
}

.album-text p {
    text-align: center;
}

iframe {
    border: none;
    background-color: transparent;
}

/*-----------------------------------Gizzverse-----------------------------------*/

.gizzverse-padding {
    padding: 12px;
}

/*-----------------------------------Tour Callout-----------------------------------*/

.callout-container {
    height: 100vh;

    background: url("https://miro.medium.com/max/4096/1*tcFc5eJTlIvvwYazU6IiAA.jpeg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

}

.jumbotron h1 {
    color: #FDDF00;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    color: #FDDF00;
    margin: 25px 0;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #FDDF00;
}

.callout {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    margin-bottom: 150px;
}

/*-----------------------------------Tours-----------------------------------*/

.tour-headings h2, h3 {
    margin-bottom: 24px;
}

.display-1 {
    margin: 0;
}

#tours {
  background: url("https://i.imgur.com/gjTGYhb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

#tours div {
  color: #FDDF00;
  background-color: rgba(0, 0, 0, .6);
  height: 500px;
  padding: 30px 10px;
  text-align: center;
}

#tours h2 {
  color: #FDDF00;
}

#book-tours {
    color: #FDDF00;
}

/*-----------------------------------Button Props.-----------------------------------*/

.btn-warning {
    background-color: #FDDF00;
    border-color: #FDDF00;
}

.book-btn {
    margin-top: 25px;
}

/*-----------------------------------Footer-----------------------------------*/

footer {
    height: 60px;
    background-color: #0C1C1A;
    color: #fff;
    margin-top: auto;
}

.social-networks {
  text-align: center;
  padding: 0px;
  margin-bottom: 0px;
  height: 100%;
  width: 120px;
  margin-top: 16px;
}

.social-networks li {
  display: inline;
}

.social-networks i {
  font-size: 100%;
  margin: 1%;
  padding: 0;
  color: #fff;
}

.footer-copyright {
    position: absolute;
    float: left;
    margin: 16px;
    width: auto;
}

.footer-socials {
    float: right;
}

/*-----------------------------------Media Queries-----------------------------------*/

@media (max-width: 768px) {

    .main-section-2 p ul {
        font-size: 3vw;
    }

}

@media (max-width: 480px) {

    .main-section-2 p ul {
        font-size: 4vw;
        line-height: 1.4;
    }

}