@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=RocknRoll+One&display=swap');

body {
    font-family: 'Roboto Condensed', 'RocknRoll One', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/*-----------------------------------Colours-----------------------------------*/

.acid-purple {
    background-color: #8A4F7D;
}

.groomy-purple {
    background-color: #4E2D47;
}

.jazzy-yellow {
    background-color: #FDDF00;
}

/*-----------------------------------Font-----------------------------------*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'RocknRoll One', sans-serif;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
}

/*-----------------------------------Navigation-----------------------------------*/

.bg-purple {
    background-color: #8A4F7D;
}

.navbar-toggler {
    margin-right: 15px;
}

.navbar-nav {
    float: right;
    margin-right: 15px;
}

.navbar-nav {
    text-align: center;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color: #FDDF00;
}

.navbar-dark .navbar-nav .nav-link {
    color: #FDDF00;
}

/*-----------------------------------Main Section 1 Home Carousel-----------------------------------*/

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 50px;
    height: 50px;
}

/*-----------------------------------Main Section 2 About Us-----------------------------------*/

#homepageTitle {
    text-decoration: underline;
    padding: 10px;
}

#homepageTitle, .homepageAboutUs {
    color: #FDDF00;
    text-align: center;
    margin: 0;
}

.homepageAboutUs {
    padding-bottom: 0px;

}

.AwardList {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: #FDDF00;
    margin-bottom: 0;
    list-style-position: inside;
    padding-left: 0;
}

#TheMembers {
    text-align: center;
    color: #FDDF00;
    margin-bottom: 0;
    text-decoration: wavy underline;
}

.band-image {
    text-align: center;
}

.blockquote-footer {
    border-radius: 15px 50px 30px;
    background-color: #FDDF00;
    color: #8A4F7D;
    margin: 0;
}

/*-----------------------------------Albums-----------------------------------*/

.img-padding {
    padding: 48px 24px 96px;
}

/*-----------------------------------Gizzverse-----------------------------------*/

.gizzverse-padding {
    padding: 12px;
}

/*-----------------------------------Footer-----------------------------------*/

footer {
    height: 60px;
    background-color: #0C1C1A;
    color: #fff;
}

.social-networks {
  text-align: center;
  padding: 0px;
  margin-bottom: 0px;
  height: 100%;
  width: 120px;
  margin-top: 16px;
}

.social-networks li {
  display: inline;
}

.social-networks i {
  font-size: 100%;
  margin: 1%;
  padding: 0;
  color: #fff;
}

.footer-copyright {
    position: absolute;
    float: left;
    margin: 16px;
    width: auto;
}

.footer-socials {
    float: right;
}

/*-----------------------------------Media Queries-----------------------------------*/

@media (max-width: 768px) {

    .main-section-2 p ul {
        font-size: 3vw;
    }

}

@media (max-width: 480px) {

    .main-section-2 p ul {
        font-size: 4vw;
        line-height: 1.4;
    }

}